version: "3"

services:
    prowlarr:
        container_name: prowlarr
        image: linuxserver/prowlarr:develop
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/Berlin
        volumes:
            - ./config:/config
        ports:
            - 9696:9696
        restart: unless-stopped
