version: "3"

services:
    adguardhome:
        container_name: adguardhome
        image: adguard/adguardhome
        volumes:
            - /docker/appdata/adguardhome/work:/opt/adguardhome/work
            - /docker/appdata/adguardhome/conf:/opt/adguardhome/conf
        ports:
            - 53:53/tcp
            - 53:53/udp
            - 784:784/udp
            - 853:853/tcp
            - 3000:3000/tcp
            - 81:80/tcp
            - 444:443/tcp
        restart: unless-stopped
